body {
  background: rgb(245, 245, 245);
  color: green;
  font-size: 25px;
}

h1 {
  color: red;
  font-weight: lighter;
  font-size: 40px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: pink;
  font-weight: lighter;
  font-size: 16px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

img {
  width: 400px;
  height: 200px;
  object-fit: cover;
}

/* Custom styles */

#banner {
    background: url(https://source.unsplash.com/random/1000x600);
    background-size: cover;
    padding: 150px 0;
    text-align: center;
    color: white
}

#banner h1 {
    color: white;
}

#banner p {
    color: white;
    font-size: 30px;
    font-weight: lighter;
    opacity: 0.7;
}

#footer {
    background-color: black;
    padding: 15px;
}

#footer a {
    font-size: 30px;
    color: grey;
}
#footer a:hover {
    color: white;
}

.cards {
    padding: 50px;
    text-align: center;
}